<font size="6" face="verdana" color="green">
    <img src="Figuras/ICMC_50Anos.png" width=300>&emsp;&emsp;&nbsp;
    <! <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" width=550><br>
    <b>Preparação de dados usando <b>funções de janelamento</b> em SQL</b>
</font><br>
<font size="5" face="verdana" color="green">3.3 - Tipo de dados <b>JSON</b> em SQL</font>

<br><br>

**Objetivo:** Aprender a usar o tipo de dados __JSON__ em SQL, usando a Base de Dados __Nobel__.
<br>

## Conectar com a Base de Dados

Para começar, é necessário estabelecer a coneção com uma base. \
 * Vamos usar a base __Nobel__: &nbsp;

In [4]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
import json                      ##-- Json Pretty Print
import re                        ##-- Regular Expressions
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base de daos Nobel ###################### --> Postgres.Nobel
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/nobel')
%sql postgresql://postgres:postgres@localhost/nobel

%sql SET DATESTYLE TO YMD;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * postgresql://postgres:***@localhost/nobel
Done.

[]

<br>
Para ter uma tabela simples, para exemplificar, vamos recriar nesta Base de Dados, a tabela `Médicos` criada no _Notebook_ anterior:

In [21]:
%%sql
DROP TABLE IF EXISTS Medicos;
DROP TYPE IF EXISTS Medico CASCADE;
CREATE TYPE Medico AS (
    Nome TEXT,
    CRM NUMERIC(8,0),
    Idade SMALLINT,
    Cidade TEXT
    );

CREATE TABLE Medicos (
    Hospitais TEXT[], 
    Quem Medico,
    Inicio INT[]
    );

INSERT INTO Medicos VALUES 
    ('{FMRJ, Policlínica Geral-RJ, Instituto Soroterápico Federal, Instituto Oswaldo Cruz}',  
      ('Oswaldo Cruz', 1234, 44, 'São Luís do Paraitinga-SP'), 
     '{1887, 1894, 1899, 1909}'),
    ('{BPSP, FMUSP, Santa Casa de Misericórdia-SP, Barnes hospital-St. Louis,EUA, HCSP}', 
      ('Euryclides Zerbini',2345 ,81, 'Guaratinguetá-SP'), 
     '{1925, 1930, 1944,1945, 1982}');

 * postgresql://postgres:***@localhost/nobel
Done.
Done.
Done.
Done.
2 rows affected.

[]

<br>

Vamos lembrar __os dados armazenados:__

In [22]:
%sql Result << SELECT * FROM Medicos;
print(Result)

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
Returning data to local variable Result
+------------------------------------------------------------------------------------------------+------------------------------------------------------+--------------------------------+
|                                           hospitais                                            |                         quem                         |             inicio             |
+------------------------------------------------------------------------------------------------+------------------------------------------------------+--------------------------------+
|  ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz']  | ("Oswaldo Cruz",1234,44,"São Luís do Paraitinga-SP") |    [1887, 1894, 1899, 1909]    |
| ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP'] |   ("Euryclides Zerbini",2345,81,Guaratinguetá-SP)    | [1925, 1930, 1944, 1945, 1982] |
+------------------------------------------------------------------------------------------------+------------------------------------------------------+--------------------------------+

<br><br>
## Os Tipos de dados <b>JSON</b> em <img src="Figuras/Postgres.png" width=130>

O SGBDR <img src="Figuras/Postgres.png" width=120> é um modelo pós-relacional que incorpora conceitos do <font size="3" color="red"><b>Modelo de Documentos</b></font>.\
Ele tem dois tipos de dados definidos para armazenar dados Json:
 * `Json`: representa os dados o mais parecido possícel com a cadeia de dados de entrada
 * `Jsonb`: (Json binário): os dados são submetidos ao _parser_ e são armazenados já interpretados

A especificação JSON declara que os dados devem ser usados em codificação `UTF-8`.\
<img src="Figuras/Postgres.png" width=120> flexibiliza essa restrição e usa a codificação que estiver ativa para uma base de dados.

 * O campo chave `key` de um valor em JSON é sempre representado como uma cadeia de caracteres: `'Nome', 'NUSP'`
 * O campo chave `value` pode ser de tipo:
   * <i>string</i>: 'azul', 'São Carlos'
   * <i>number</i>: `1`, `2`, `3`
   * <i>boolean</i>: `true`, `false`
   * <i>null</i>:  `null`
   * <i>array</i>: `[1, 2, 3]`
   * <i>tupla</i>: `{c1:v1, c2:v2}`

Por exemplo:

In [23]:
%sql Result <<                                        \
SELECT '3'::json            Numero,                   \
       '"São Carlos"'::json Texto,                    \
       'true'::json         Boolean,                  \
       'null'::json         Nulo,                     \
       '[1, 2, 3]'::json    Arranjo,                  \
       '{"Nome":"José da Silva", "NUSP":"1234", "Cidade":"Ibitinga", "Idade":"25"}'::json Tupla;
print(Result)

 * postgresql://postgres:***@localhost/nobel
1 rows affected.
Returning data to local variable Result
+--------+------------+---------+------+-----------+--------------------------------------------------------------------------------+
| numero |   texto    | boolean | nulo |  arranjo  |                                     tupla                                      |
+--------+------------+---------+------+-----------+--------------------------------------------------------------------------------+
|   3    | São Carlos |   True  | None | [1, 2, 3] | {'Nome': 'José da Silva', 'NUSP': '1234', 'Cidade': 'Ibitinga', 'Idade': '25'} |
+--------+------------+---------+------+-----------+--------------------------------------------------------------------------------+

<br>

A função  `To_Json(Tupla)` converte um dado de tipo `tupla` para um valor `Json`.\
Por exemplo, pode-se transformar cada linha de uma tabela num documento `Json`, como por exemplo usando a tabela de `Médicos` criada no Notebook _anterior_:

In [24]:
%sql Result << \
    SELECT To_Json(Medicos) FROM Medicos;
print(Result)

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
Returning data to local variable Result
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                         to_json                                                                                                                         |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|    {'hospitais': ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz'], 'quem': {'nome': 'Oswaldo Cruz', 'crm': 1234, 'idade': 44, 'cidade': 'São Luís do Paraitinga-SP'}, 'inicio': [1887, 1894, 1899, 1909]}   |
| {'hospitais': ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP'], 'quem': {'nome': 'Euryclides Zerbini', 'crm': 2345, 'idade': 81, 'cidade': 'Guaratinguetá-SP'}, 'inicio': [1925, 1930, 1944, 1945, 1982]} |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Ler nesse formato é cansativo.\
No entanto, a definição do padrão Json espera que os dados sejam legíveis por __máquinas__ e por __humanos__.

O módulo `json` do `python` tem a função <b>`json_formatted_str()`</b> que reformata a _string_ de entrada para uma melhor visualização de cada objeto:

In [25]:
for i in range(0,len(Result)):
    json_object = json.loads(re.sub('(,\))$', ']',                       ## Remove o fecha ) do final
                             re.sub('^(\()',  '[',                       ## Remove o abre ( do início
                             re.sub('\'',   '\"', str(Result[i])) )))  ## troca todos os \' por \"
    json_formatted_str = json.dumps(json_object, indent=2, ensure_ascii=False)
    print(json_formatted_str)

[
  {
    "hospitais": [
      "FMRJ",
      "Policlínica Geral-RJ",
      "Instituto Soroterápico Federal",
      "Instituto Oswaldo Cruz"
    ],
    "quem": {
      "nome": "Oswaldo Cruz",
      "crm": 1234,
      "idade": 44,
      "cidade": "São Luís do Paraitinga-SP"
    },
    "inicio": [
      1887,
      1894,
      1899,
      1909
    ]
  }
]
[
  {
    "hospitais": [
      "BPSP",
      "FMUSP",
      "Santa Casa de Misericórdia-SP",
      "Barnes hospital-St. Louis",
      "EUA",
      "HCSP"
    ],
    "quem": {
      "nome": "Euryclides Zerbini",
      "crm": 2345,
      "idade": 81,
      "cidade": "Guaratinguetá-SP"
    },
    "inicio": [
      1925,
      1930,
      1944,
      1945,
      1982
    ]
  }
]

<img src="Figuras/Postgres.png" width=120> também tem recurso equivalente: a função <b>`JsonB_Pretty(JsonB)`</b>:\
(Embora o Jupyter "reformate" para imprimir tudo centralizado...)

In [26]:
%sql Result << \
    SELECT JsonB_pretty(To_JsonB(Medicos)) FROM Medicos;
for i in range(0,len(Result)):
    print(i+1, ': ',Result[i], sep='')

print(Result)

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
Returning data to local variable Result
1: ('{\n    "quem": {\n        "crm": 1234,\n        "nome": "Oswaldo Cruz",\n        "idade": 44,\n        "cidade": "São Luís do Paraitinga-SP"\n    },\ ... (91 characters truncated) ... ospitais": [\n        "FMRJ",\n        "Policlínica Geral-RJ",\n        "Instituto Soroterápico Federal",\n        "Instituto Oswaldo Cruz"\n    ]\n}',)
2: ('{\n    "quem": {\n        "crm": 2345,\n        "nome": "Euryclides Zerbini",\n        "idade": 81,\n        "cidade": "Guaratinguetá-SP"\n    },\n   ... (123 characters truncated) ...   "BPSP",\n        "FMUSP",\n        "Santa Casa de Misericórdia-SP",\n        "Barnes hospital-St. Louis",\n        "EUA",\n        "HCSP"\n    ]\n}',)
+-----------------------------------------------+
|                  jsonb_pretty                 |
+-----------------------------------------------+
|                       {                       |
|                     "quem": {                 |
|                      "crm": 1234,             |
|                "nome": "Oswaldo Cruz",        |
|                      "idade": 44,             |
|         "cidade": "São Luís do Paraitinga-SP" |
|                         },                    |
|                    "inicio": [                |
|                         1887,                 |
|                         1894,                 |
|                         1899,                 |
|                          1909                 |
|                         ],                    |
|                   "hospitais": [              |
|                        "FMRJ",                |
|                "Policlínica Geral-RJ",        |
|           "Instituto Soroterápico Federal",   |
|                "Instituto Oswaldo Cruz"       |
|                         ]                     |
|                       }                       |
|                       {                       |
|                     "quem": {                 |
|                      "crm": 2345,             |
|             "nome": "Euryclides Zerbini",     |
|                      "idade": 81,             |
|              "cidade": "Guaratinguetá-SP"     |
|                         },                    |
|                    "inicio": [                |
|                         1925,                 |
|                         1930,                 |
|                         1944,                 |
|                         1945,                 |
|                          1982                 |
|                         ],                    |
|                   "hospitais": [              |
|                        "BPSP",                |
|                        "FMUSP",               |
|            "Santa Casa de Misericórdia-SP",   |
|              "Barnes hospital-St. Louis",     |
|                         "EUA",                |
|                         "HCSP"                |
|                         ]                     |
|                       }                       |
+-----------------------------------------------+

Ou pode-se converter um atributo de tupo `tupla` para uma representaçào em `Json`:

In [27]:
%sql Result << \
    SELECT To_Json(Quem), Hospitais, Inicio FROM Medicos;
print(Result)

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
Returning data to local variable Result
+-------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+
|                                          to_json                                          |                                           hospitais                                            |             inicio             |
+-------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+
| {'nome': 'Oswaldo Cruz', 'crm': 1234, 'idade': 44, 'cidade': 'São Luís do Paraitinga-SP'} |  ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz']  |    [1887, 1894, 1899, 1909]    |
|   {'nome': 'Euryclides Zerbini', 'crm': 2345, 'idade': 81, 'cidade': 'Guaratinguetá-SP'}  | ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP'] | [1925, 1930, 1944, 1945, 1982] |
+-------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+

Mesmo que um dado não esteja declarado como `Json`, se a cadeia de caracteres estiver no formato correto, ele pode ser transformado em `Json` para usar esses operadores:

In [28]:
%sql Result << \
    SELECT TO_Json(Quem)->>'nome', JsonB_Array_Elements(To_JsonB(Hospitais)), JsonB_Array_Elements(To_JsonB(Inicio)) FROM Medicos;
print(Result)

 * postgresql://postgres:***@localhost/nobel
10 rows affected.
Returning data to local variable Result
+--------------------+--------------------------------+------------------------+
|      ?column?      |      jsonb_array_elements      | jsonb_array_elements_1 |
+--------------------+--------------------------------+------------------------+
|    Oswaldo Cruz    |              FMRJ              |          1887          |
|    Oswaldo Cruz    |      Policlínica Geral-RJ      |          1894          |
|    Oswaldo Cruz    | Instituto Soroterápico Federal |          1899          |
|    Oswaldo Cruz    |     Instituto Oswaldo Cruz     |          1909          |
| Euryclides Zerbini |              BPSP              |          1925          |
| Euryclides Zerbini |             FMUSP              |          1930          |
| Euryclides Zerbini | Santa Casa de Misericórdia-SP  |          1944          |
| Euryclides Zerbini |   Barnes hospital-St. Louis    |          1945          |
| Euryclides Zerbini |              EUA               |          1982          |
| Euryclides Zerbini |              HCSP              |          None          |
+--------------------+--------------------------------+------------------------+

Veja que os dados são convertidos para `Json` seguindo a mesma ordem dos atributos na tabela;

Se for usado um tipo `JSonB`, os dados são colocados visando agilizar as buscas, por exemplo para usar busca binária para localizar as chaves e decodificar os dados:

In [29]:
%sql Result << \
    SELECT JsonB_Pretty(To_JsonB(Quem)), Hospitais, Inicio FROM Medicos;
print(Result)

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
Returning data to local variable Result
+-------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+
|                jsonb_pretty               |                                           hospitais                                            |             inicio             |
+-------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+
|                     {                     |  ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz']  |    [1887, 1894, 1899, 1909]    |
|                  "crm": 1234,             |                                                                                                |                                |
|            "nome": "Oswaldo Cruz",        |                                                                                                |                                |
|                  "idade": 44,             |                                                                                                |                                |
|     "cidade": "São Luís do Paraitinga-SP" |                                                                                                |                                |
|                     }                     |                                                                                                |                                |
|                     {                     | ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP'] | [1925, 1930, 1944, 1945, 1982] |
|                  "crm": 2345,             |                                                                                                |                                |
|         "nome": "Euryclides Zerbini",     |                                                                                                |                                |
|                  "idade": 81,             |                                                                                                |                                |
|          "cidade": "Guaratinguetá-SP"     |                                                                                                |                                |
|                     }                     |                                                                                                |                                |
+-------------------------------------------+------------------------------------------------------------------------------------------------+--------------------------------+

Objetos Json e JsonB não armazenam chaves repetidas (só retém a última), mas Json preserva a ordem delas:

In [30]:
%%sql
SELECT '{"Nome"\:"José da Silva", "NUSP"\:1234, "Nome"\:"Maria da Silva"}'::json,
       '{"Nome"\:"José da Silva", "NUSP"\:1234, "Nome"\:"Maria da Silva"}'::jsonb;

 * postgresql://postgres:***@localhost/nobel
1 rows affected.

[({'Nome': 'Maria da Silva', 'NUSP': 1234}, {'NUSP': 1234, 'Nome': 'Maria da Silva'})]

<br><br>

## Atualização de objetos JSON em <img src="Figuras/Postgres.png" width=130>: Inserir novas tuplas

Objetos Json podem ser inseridos, atualizados e apagados em <img src="Figuras/Postgres.png" width=120>, usando os comandos usuais de `INSERT`, `UPDATE` e `DELETE`.\
Para verificar isso, vamos criar uma nova tabela que armazena os mesmos dados de um médico como objetos Json ao invés de tuplas.\
Nesse caso, como não existe uma estrutura pré-definida para os atributos a serem armazenados, criamos a tabela simplesmente como:

In [32]:
%%sql
DROP TABLE IF EXISTS JMedicos;
CREATE TABLE JMedicos (
    id SERIAL NOT NULL PRIMARY KEY,
    Medico JsonB NOT NULL
    );

 * postgresql://postgres:***@localhost/nobel
Done.
Done.

[]

Aqui criamos um atributo `ID` _fora da cadeia __Json___, para emular a maneira como __Mongo__ opera.\
O atributo `ID` é gerado automaticamente como um valor `SERIAL`, e já indexado por _default_.\
Um valor `SERIAL` em <img src="Figuras/Postgres.png" width=120> leva em conta o acesso concorrênte e distribuído, tal como em MONGO, mas usa um algoritmo diferente para a alocação de valores (que pode ser parametrizado com um comando `CREATE SEQUENCE` (Vide: https://www.postgresql.org/docs/current/sql-createsequence.html)

A tabela está incialmente vasia e pode armazenar quaisquer objetos Json.\
Obviamente, queremos armazenar objetos que sigam a estrutura de atendimentos que os médicos dão a cada hospital, mas a sintaxe não obriga isso.\
Vamos inserir um novo médico:

In [33]:
%%sql
INSERT INTO JMedicos(Medico) VALUES('{"hospitais": ["Instituto Soroterápico Federal","Hospital de Jurujuba", " Instituto Oswaldo Cruz"],
                            "quem":{"nome": "Carlos Chagas", "crm": 3456, "idade": 55, "cidade": " Oliveira, MG"},
                            "inicio": [1902, 1904, 1906]
                            }');
SELECT JsonB_Pretty(Medico) FROM JMedicos;

 * postgresql://postgres:***@localhost/nobel
1 rows affected.
1 rows affected.

[('{\n    "quem": {\n        "crm": 3456,\n        "nome": "Carlos Chagas",\n        "idade": 55,\n        "cidade": " Oliveira, MG"\n    },\n    "inici ... (49 characters truncated) ... \n    ],\n    "hospitais": [\n        "Instituto Soroterápico Federal",\n        "Hospital de Jurujuba",\n        " Instituto Oswaldo Cruz"\n    ]\n}',)]

Podemos inserir dados a partir de outras tabelas:

In [34]:
%%sql
INSERT INTO JMedicos(Medico) (
    SELECT To_Json(Medicos) 
        FROM Medicos);

SELECT Medico FROM JMedicos;

 * postgresql://postgres:***@localhost/nobel
2 rows affected.
3 rows affected.

[({'quem': {'crm': 3456, 'nome': 'Carlos Chagas', 'idade': 55, 'cidade': ' Oliveira, MG'}, 'inicio': [1902, 1904, 1906], 'hospitais': ['Instituto Soroterápico Federal', 'Hospital de Jurujuba', ' Instituto Oswaldo Cruz']},),
 ({'quem': {'crm': 1234, 'nome': 'Oswaldo Cruz', 'idade': 44, 'cidade': 'São Luís do Paraitinga-SP'}, 'inicio': [1887, 1894, 1899, 1909], 'hospitais': ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz']},),
 ({'quem': {'crm': 2345, 'nome': 'Euryclides Zerbini', 'idade': 81, 'cidade': 'Guaratinguetá-SP'}, 'inicio': [1925, 1930, 1944, 1945, 1982], 'hospitais': ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP']},)]

Ou, se quizermos obter o `ID` de cada objeto:

In [35]:
%%sql
SELECT ID, Medico FROM JMedicos;

 * postgresql://postgres:***@localhost/nobel
3 rows affected.

[(1, {'quem': {'crm': 3456, 'nome': 'Carlos Chagas', 'idade': 55, 'cidade': ' Oliveira, MG'}, 'inicio': [1902, 1904, 1906], 'hospitais': ['Instituto Soroterápico Federal', 'Hospital de Jurujuba', ' Instituto Oswaldo Cruz']}),
 (2, {'quem': {'crm': 1234, 'nome': 'Oswaldo Cruz', 'idade': 44, 'cidade': 'São Luís do Paraitinga-SP'}, 'inicio': [1887, 1894, 1899, 1909], 'hospitais': ['FMRJ', 'Policlínica Geral-RJ', 'Instituto Soroterápico Federal', 'Instituto Oswaldo Cruz']}),
 (3, {'quem': {'crm': 2345, 'nome': 'Euryclides Zerbini', 'idade': 81, 'cidade': 'Guaratinguetá-SP'}, 'inicio': [1925, 1930, 1944, 1945, 1982], 'hospitais': ['BPSP', 'FMUSP', 'Santa Casa de Misericórdia-SP', 'Barnes hospital-St. Louis', 'EUA', 'HCSP']})]

<br><br>

## Consultando objetos JSON em <img src="Figuras/Postgres.png" width=130>

Existem quatro operadores fundamentais usados para consultar dados em formato Json em <img src="Figuras/Postgres.png" width=120>:
 * o operador `->`  retorna o valor do objeto JSON indcado pela chave como um `texto`
 * o operador `->>` retorna o valor do objeto JSON indcado pela chave como um objeto `Json` ou `JsonB`, conforme o objeto original
 * o operador `#>`  retorna o valor do objeto JSON indicado pelo caminho como um `texto`
 * o operador `#>>` retorna o valor do objeto JSON indicado pelo caminho como um objeto `Json` ou `JsonB`, conforme o objeto original:

In [16]:
%%sql
SELECT           Medico -> 'quem'->>'nome' "Chave para Texto",
       PG_TypeOf(Medico -> 'quem'->>'nome'),
                 Medico -> 'quem'->'nome' "Chave para Json",
       PG_TypeOf(Medico -> 'quem'->'nome'),
                 Medico #>> '{quem,nome}' "Caminho para Texto",
       PG_TypeOf(Medico #>> '{quem,nome}'),
                 Medico #> '{quem,nome}' "Caminho para Json",
       PG_TypeOf(Medico #> '{quem,nome}')
    FROM JMedicos;

 * postgresql://postgres:***@localhost/nobel
3 rows affected.

[('Carlos Chagas', 'text', 'Carlos Chagas', 'jsonb', 'Carlos Chagas', 'text', 'Carlos Chagas', 'jsonb'),
 ('Oswaldo Cruz', 'text', 'Oswaldo Cruz', 'jsonb', 'Oswaldo Cruz', 'text', 'Oswaldo Cruz', 'jsonb'),
 ('Euryclides Zerbini', 'text', 'Euryclides Zerbini', 'jsonb', 'Euryclides Zerbini', 'text', 'Euryclides Zerbini', 'jsonb')]

<br>

Consultas ficam mais interessantes sobre bases com mais dados.\
Vamos consultar as tabelas da base de dados de __Prêmios Nobel.__ <font size="2" color="magenta">(Essas tabelas foram criadas sem um atributo `ID`.)</font>\
Vamos começar com a tabela de `Premios`:

In [17]:
%sql Result << \
    SELECT * FROM Premios LIMIT 3;
print(Result)

 * postgresql://postgres:***@localhost/nobel
3 rows affected.
Returning data to local variable Result
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                               premio                                                                                                               |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| {'year': '2016', 'category': 'literature', 'laureates': [{'id': '937', 'share': '1', 'surname': 'Dylan', 'firstname': 'Bob', 'motivation': 'for having created new poetic expressions within the great American song tradition'}]} |
|                {'year': '1957', 'category': 'chemistry', 'laureates': [{'id': '221', 'share': '1', 'surname': 'Todd', 'firstname': 'Lord', 'motivation': 'for his work on nucleotides and nucleotide co-enzymes'}]}                |
|                            {'year': '1918', 'category': 'peace', 'overallMotivation': 'No Nobel Prize was awarded this year. The prize money was allocated to the Special Fund of this prize section.'}                            |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Esses dados podem ser usados para montar uma tabela "tradicional", como por exemplo:

In [36]:
%sql Result <<                                                                                   \
SELECT Premio->'year' Ano, Premio->>'year' "Ano JSON",                                            \
           Premio->>'category' Categoria,                                                          \
           (Premio->'laureates'->0->>'firstname') ||' '|| (Premio->'laureates'->0->>'surname') G1,  \
           (Premio->'laureates'->1->>'firstname') ||' '|| (Premio->'laureates'->1->>'surname') G2,   \
           (Premio#>>'{laureates, 0, firstname}') ||' '|| (Premio#>>'{laureates, 0, surname}') G3,    \
           (Premio#>>'{laureates, 1, firstname}') ||' '|| (Premio#>>'{laureates, 1, surname}') G4      \
        FROM Premios                                                                                    \
        LIMIT 5;
print(Result)

 * postgresql://postgres:***@localhost/nobel
5 rows affected.
Returning data to local variable Result
+------+----------+------------+------+------+-------------------+------------------+
| ano  | Ano JSON | categoria  |  g1  |  g2  |         g3        |        g4        |
+------+----------+------------+------+------+-------------------+------------------+
| 2021 |   2021   | chemistry  | None | None |   Benjamin List   | David MacMillan  |
| 2021 |   2021   | economics  | None | None |     David Card    |  Joshua Angrist  |
| 2021 |   2021   | literature | None | None | Abdulrazak Gurnah |       None       |
| 2021 |   2021   |   peace    | None | None |    Maria Ressa    |  Dmitry Muratov  |
| 2021 |   2021   |  physics   | None | None |   Syukuro Manabe  | Klaus Hasselmann |
+------+----------+------------+------+------+-------------------+------------------+

Note que:
 * como os operadores `->` e `#>` retornam um objeto `Json`, eles podem ser encadeados para navegar pela hierarquia de 'sub-objetos json' 
 * como os operadores `->>` e `#>>` retornam um objeto `Texto`, eles não podem ser seguidos por outros operadores para dados `Json`
 * quando `->` ou `->>` tem como o operando da direita um valor inteiro, ele é interpretado como o __índice__ de um _array_ de objetos `Json`, onde o primeiro é o `índice 0 (zero)'
 * quando `#>` ou `#>>` tem a indicação de um valor inteiro, ele é interpretado como o __índice__ de um _array_ de objetos `Json`, onde o primeiro é o `índice 0 (zero)'
 * se uma `chave` não é encontrada, ele apenas retorna `NULL`.

<br>

Podemos usar os operadores `JSON` na cláusula `WHERE` para filtrar as tuplas desejadas.\
_Retorne todos os premiados no ano 2000:_

In [37]:
%sql Result <<                                                                                  \
SELECT Premio->'year' Ano,                                                                       \
           Premio->>'category' Categoria,                                                         \
           (Premio->'laureates'->0->>'firstname') ||' '|| (Premio->'laureates'->0->>'surname') G1, \
           (Premio#>>'{laureates, 1, firstname}') ||' '|| (Premio#>>'{laureates,1,surname}') G2,    \
           (Premio#>>'{laureates, 2, firstname}') ||' '|| (Premio#>>'{laureates,2,surname}') G3      \
       FROM Premios                                                                                  \
        WHERE CAST(Premio->>'year' AS INT) =2021     --<<<<<< Retorna somente os prêmios de 2021  <<<<<<<<
print(Result)

 * postgresql://postgres:***@localhost/nobel
6 rows affected.
Returning data to local variable Result
+------+------------+------+-------------------+----------------+
| ano  | categoria  |  g1  |         g2        |       g3       |
+------+------------+------+-------------------+----------------+
| 2021 | chemistry  | None |  David MacMillan  |      None      |
| 2021 | economics  | None |   Joshua Angrist  |  Guido Imbens  |
| 2021 | literature | None |        None       |      None      |
| 2021 |   peace    | None |   Dmitry Muratov  |      None      |
| 2021 |  physics   | None |  Klaus Hasselmann | Giorgio Parisi |
| 2021 |  medicine  | None | Ardem Patapoutian |      None      |
+------+------------+------+-------------------+----------------+

<br>

Veja que a consulta acima não é a melhor solução para tratar _arrays_ de tamanho variável:\
&emsp;&emsp; &#9758; Ela assume que existem __dois__ ganhadores `G1` e `G2` em cada prêmio, mas pode ser mais ou menos que isso.

Uma solução melhor é extrair cada elemento `desaninhando` cada elemento numa tupla separada.\
As funções `Json_Array_Elements` e `JsonB_Array_Elements` atendem a esse propósito:

In [20]:
%%sql
SELECT Premio->>'year' Ano,
           Premio->>'category' Categoria, 
           JsonB_Array_Length (Premio->'laureates') NGanhadores,
           ((JsonB_Array_Elements(Premio->'laureates'))->>'firstname')  ||' '|| ((JsonB_Array_Elements(Premio->'laureates'))->>'surname') Nome
        FROM Premios 
        WHERE (Premio->>'year')::INT =2021
        ORDER BY Ano, Categoria, Nome;

 * postgresql://postgres:***@localhost/nobel
13 rows affected.

[('2021', 'chemistry', 2, 'Benjamin List'),
 ('2021', 'chemistry', 2, 'David MacMillan'),
 ('2021', 'economics', 3, 'David Card'),
 ('2021', 'economics', 3, 'Guido Imbens'),
 ('2021', 'economics', 3, 'Joshua Angrist'),
 ('2021', 'literature', 1, 'Abdulrazak Gurnah'),
 ('2021', 'medicine', 2, 'Ardem Patapoutian'),
 ('2021', 'medicine', 2, 'David Julius'),
 ('2021', 'peace', 2, 'Dmitry Muratov'),
 ('2021', 'peace', 2, 'Maria Ressa'),
 ('2021', 'physics', 3, 'Giorgio Parisi'),
 ('2021', 'physics', 3, 'Klaus Hasselmann'),
 ('2021', 'physics', 3, 'Syukuro Manabe')]

<br>

## Dados `JSON` e agrupamentos e agregações

Valores `JSON` podem ser usados em comandos de agrupamento e agregação seguindo as mesmas regras dos demanis atributos.

Por exemplo:
 * _Em quantos anos houve premiação em cada categoria?_
 * _Quantas prêmios foram atribuídos em cada categoria?_
 * _E quantos foram atribuídos neste século?_

In [38]:
%%sql
SELECT Premio->>'category' Categoria, 
       Count(JsonB_Array_Length (Premio->'laureates')) Anos,
       SUM(JsonB_Array_Length (Premio->'laureates')) Total,
       SUM(JsonB_Array_Length (Premio->'laureates')) FILTER (WHERE (Premio->>'year')::INT >2000) Pos_2000
    FROM Premios 
    GROUP BY Premio->>'category';

 * postgresql://postgres:***@localhost/nobel
6 rows affected.

[('peace', 102, 137, 30),
 ('medicine', 112, 224, 52),
 ('chemistry', 113, 188, 53),
 ('literature', 114, 118, 21),
 ('physics', 115, 219, 57),
 ('economics', 53, 89, 43)]

<br>

## Comparação de documentos

O operador `@>` verifica se um documento contém outro, retornando `true` ou `false` para cada tupla.\
Ele é muito para buscar as tuplas que têm os valores pedidos\
Por exemplo:
_Recuperar os ganhadores de medicina em 2021:_

In [40]:
%%sql
SELECT Premio->>'year' Ano,
           Premio->>'category' Categoria, 
           JsonB_Array_Length (Premio->'laureates') NGanhadores,
           ((JsonB_Array_Elements(Premio->'laureates'))->>'firstname')  ||' '||
           ((JsonB_Array_Elements(Premio->'laureates'))->>'surname') Nome
        FROM Premios 
        WHERE (Premio @> '{"year":"2021", "category":"medicine"}')
        ORDER BY Ano, Categoria, Nome;

 * postgresql://postgres:***@localhost/nobel
2 rows affected.

[('2021', 'medicine', 2, 'Ardem Patapoutian'),
 ('2021', 'medicine', 2, 'David Julius')]

O operador `?` verifica se um documento contém a chave indicada, retornando `true` ou `false` para cada tupla.\
Ele é muito para buscar as tuplas que têm as chaves pedidas\
Por exemplo:
_Recuperar os `Paises`que não têm código:_

In [41]:
%%sql
SELECT Pais->>'name'
       FROM Paises
       WHERE NOT Pais ? 'code';

 * postgresql://postgres:***@localhost/nobel
2 rows affected.

[('Austria-Hungary',), ('Austrian Empire',)]

<br><br>

## Atualização de dados Json em <img src="Figuras/Postgres.png" width=120>: `UPDATE`

A atualização de dados em Json é mais elaborada do que que a atualização em tuplas, porque existem vários significados do que se entende por "atualização".\
De fato, todas as seguintes operações são `atualização de tuplas`:
 * Inserir uma nova chave num documento já existente
 * Remover uma chave
 
Por exemplo, suponha que queremos indicar a modalidade contemplada para os premiados no em medicina no ano de 2021. \
Como essa chave não existe, ela pode ser criada com:

In [42]:
%%sql
SELECT *                        --------------------------- ANTES DA ATUALIZAÇÃO
    FROM Premios 
    WHERE (Premio->>'year')::INT =2021 AND Premio->>'category'='medicine';
UPDATE Premios
    SET Premio = Premio || '{"Modality": "Physiology "}';
SELECT *                        --------------------------- DEPOIS DA ATUALIZAÇÃO
    FROM Premios 
    WHERE (Premio->>'year')::INT =2021 AND Premio->>'category'='medicine';

 * postgresql://postgres:***@localhost/nobel
1 rows affected.
658 rows affected.
1 rows affected.

[({'year': '2021', 'Modality': 'Physiology ', 'category': 'medicine', 'laureates': [{'id': '997', 'share': '2', 'surname': 'Julius', 'firstname': 'David ... (87 characters truncated) ... : '998', 'share': '2', 'surname': 'Patapoutian', 'firstname': 'Ardem', 'motivation': 'for their discoveries of receptors for temperature and touch'}]},)]

 Veja que para substituir o valor de uma chave, basta atribuir um novo valor, porque um objeto Json não deve ter chaves repetidas.

In [43]:
%%sql
UPDATE Premios
    SET Premio = Premio || '{"Modality": "PHYSIOLOGY"}';
SELECT *                        --------------------------- DEPOIS DA ATUALIZAÇÃO
    FROM Premios 
    WHERE (Premio->>'year')::INT =2021 AND Premio->>'category'='medicine';

 * postgresql://postgres:***@localhost/nobel
658 rows affected.
1 rows affected.

[({'year': '2021', 'Modality': 'PHYSIOLOGY', 'category': 'medicine', 'laureates': [{'id': '997', 'share': '2', 'surname': 'Julius', 'firstname': 'David' ... (86 characters truncated) ... : '998', 'share': '2', 'surname': 'Patapoutian', 'firstname': 'Ardem', 'motivation': 'for their discoveries of receptors for temperature and touch'}]},)]

<br>

Uma chave pode ser removida com:

In [44]:
%%sql
UPDATE Premios
    SET Premio = Premio - 'Modality';
SELECT *
    FROM Premios 
    WHERE (Premio->>'year')::INT =2021 AND Premio->>'category'='medicine';

 * postgresql://postgres:***@localhost/nobel
658 rows affected.
1 rows affected.

[({'year': '2021', 'category': 'medicine', 'laureates': [{'id': '997', 'share': '2', 'surname': 'Julius', 'firstname': 'David', 'motivation': 'for their ... (60 characters truncated) ... : '998', 'share': '2', 'surname': 'Patapoutian', 'firstname': 'Ardem', 'motivation': 'for their discoveries of receptors for temperature and touch'}]},)]

<br>

## Indexação de dados __Json__

Nós vamos estudar estruturas de indexação mais detalhadamente em aulas seguintes, mas apenas para iniciar, veja que qualquer chave de um atributo __Json__ pode ser indexado qualquer outro atributo:

In [45]:
%%sql
DROP INDEX IF EXISTS Premio_Name_IX;
CREATE INDEX Premio_Name_IX ON Premios(((Premio->'laureates'->>'firstname')::TEXT||' '||(Premio->'laureates'->>'surname')::TEXT));

 * postgresql://postgres:***@localhost/nobel
Done.
Done.

[]

In [46]:
%%sql
DROP INDEX IF EXISTS Premiado_Name_IX;
CREATE INDEX Premiado_Name_IX ON Premiados(((Premiados->>'firstname')||' '||(Premiados->>'surname')));

 * postgresql://postgres:***@localhost/nobel
Done.
Done.

[]

In [47]:
%%sql
SELECT (Premiados->>'firstname')||' '||(Premiados->>'surname'), 
          ((JsonB_Array_Elements(Premiados->'prizes'))->>'year'),
          ((JsonB_Array_Elements(Premiados->'prizes'))->>'category'),*,
          ((JsonB_Array_Elements(Premiados->'prizes'))->>'country')
    FROM Premiados
    WHERE (Premiados->>'firstname')||' '||(Premiados->>'surname')='Marie Curie';

 * postgresql://postgres:***@localhost/nobel
2 rows affected.

[('Marie Curie', '1903', 'physics', {'id': '6', 'born': '1867-11-07', 'died': '1934-07-04', 'gender': 'female', 'prizes': [{'year': '1903', 'share': '4', 'category': 'physics', 'motivati ... (625 characters truncated) ... nches', 'firstname': 'Marie', 'bornCountry': 'Russian Empire (now Poland)', 'diedCountry': 'France', 'bornCountryCode': 'PL', 'diedCountryCode': 'FR'}, None),
 ('Marie Curie', '1911', 'chemistry', {'id': '6', 'born': '1867-11-07', 'died': '1934-07-04', 'gender': 'female', 'prizes': [{'year': '1903', 'share': '4', 'category': 'physics', 'motivati ... (625 characters truncated) ... nches', 'firstname': 'Marie', 'bornCountry': 'Russian Empire (now Poland)', 'diedCountry': 'France', 'bornCountryCode': 'PL', 'diedCountryCode': 'FR'}, None)]

In [48]:
%%sql
EXPLAIN  SELECT (Premiados->>'firstname')||' '||(Premiados->>'surname'), * --Premio->'laureates', 
    FROM Premiados
    WHERE (Premiados->>'firstname')||' '||(Premiados->>'surname')='Marie Curie';

 * postgresql://postgres:***@localhost/nobel
4 rows affected.

[('Bitmap Heap Scan on premiados  (cost=4.31..20.55 rows=5 width=591)',),
 ("  Recheck Cond: ((((premiados ->> 'firstname'::text) || ' '::text) || (premiados ->> 'surname'::text)) = 'Marie Curie'::text)",),
 ('  ->  Bitmap Index Scan on premiado_name_ix  (cost=0.00..4.31 rows=5 width=0)',),
 ("        Index Cond: ((((premiados ->> 'firstname'::text) || ' '::text) || (premiados ->> 'surname'::text)) = 'Marie Curie'::text)",)]

<br><br>

<font size="4" face="verdana" color="green">
     <b>3 - Preparação de dados usando <b>funções de janelamento</b> em SQL</b><br>
        3.3 - Tipo de dados <b>JSON</b> em SQL
    </font><br>

<font size="10" face="verdana" color="red">
    <img src="Figuras/ICMC_50Anos.png" width=220>&nbsp;
    <! <img src="Figuras/ICMC_Logo.jpg" width=70>&emsp;
    <b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="Figuras/Gbdi2005.jpg" width=400>
    </font>