<font size="6" face="verdana" color="green">
    <img src="Figuras/ICMC_50Anos.png" width=300>&emsp;&emsp;&nbsp;
    <! <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" width=550><br>
    <b>Carga inicial das tabelas da Base de Dados: <u>Prêmios Nobel</u></b>
</font><br>

<br><br>

**Objetivo:** Preparar uma base de dados a partir de dados __JSON__ em SQL, usando a Base de Dados __Nobel__.
<br>

## Criar a Base de Dados

Para começar, é necessário estabelecer uma coneção com uma base:
 * Quando se usa o módulo `SQLalchemy`, o driver `psycopg2` (ou 3) é usado internamente para conectar com uma base de dados.
 * Como queremos criar uma base de dados, é necessário conectar com uma base já existente, e a seguir (tendo os privilêgios necessários) criar a base de dados. 
 * Um servidor <img src="Figuras/Postgres.png" width=120> sempre é criado com uma base de dados `postgres` <br>
   (veja que ela pode ser apagada ou renomeada, mas é recomendável não fazer isso)
 * Vamos então conectar com essa base:

In [1]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na Base postgres ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
%sql postgresql://postgres:postgres@localhost/postgres

%sql DB << SELECT Current_Database();
print(DB)

 * postgresql://postgres:***@localhost/postgres
1 rows affected.
Returning data to local variable DB
+------------------+
| current_database |
+------------------+
|     postgres     |
+------------------+

Estamos conectados ao Servidor <img src="Figuras/Postgres.png" width=120>. \
Então podemos criar uma nova base de dados: `Nobel`:

In [10]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS Nobel;
CREATE DATABASE Nobel;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.

[]

<br><br>

## Carregar a base de dados a partir dos arquivos armazenados no computador

Com a base criada, podemos nos conectar nela:

In [11]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/nobel')
%sql postgresql://postgres:postgres@localhost/nobel

%sql DB << SELECT Current_Database();
print(DB)

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
1 rows affected.
Returning data to local variable DB
+------------------+
| current_database |
+------------------+
|      nobel       |
+------------------+

Os dados sobre os <font size="4" face="verdana" color="green">Prêmios Nobel</font> pode ser obtidos em 
A leitura de uma tabela Json é mais fácil se a leitura for primeiro feita como uma estrutura de texto e depois analisada usando o parser do próprio <img src="Figuras/Postgres.png" width=120>.\
Isso requer o dobro de espaço de armazenagem (em disco) mas é a maneira mais flexível.\
No entanto, deve-se considerar que a maioria das outras alternativas requerem o uso de feramentas externas, que também vão armazenar o texto, portanto não existe muita diferença em termos de custo de memória, mas essas alternativas requerem o uso de duas ferramentas diferentes.

No caso dos arquivos do dataset `Nobel`, cada um guarda apenas um objeto Json que é um array com os demais objetos (premios, premiados, paizes)\
Então podemos usar uma tabela `temporaria` para recuperar cada arquivo texto:<br> https://github.com/jdorfman/awesome-json-datasets

In [12]:
%%sql
DROP TABLE IF EXISTS Temporaria;
CREATE TABLE Temporaria ( Linha TEXT);

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

Vamos criar as tabelas da base de dados `Nobel`, cada uma contendo apenas um atributo de tipo JsonB, para armazenar um objeto de seu tipo respectivo por tupla:

In [13]:
%%sql
DROP TABLE IF EXISTS Premios, Premiados, Paises CASCADE;
CREATE TABLE Premios (Premio jsonb NOT NULL);
CREATE TABLE Premiados (Premiados jsonb NOT NULL);
CREATE TABLE Paises (Pais jsonb NOT NULL);

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
Done.
Done.
Done.
Done.

[]

Agora podemos carregar cada tabela, fazendo a leitura do arquivo-texto em disco, e a partir dele, usando o _parser_ para dados Json do <img src="Figuras/Postgres.png" width=120>, transferir os dados já formatados para as tabelas respectivas:

In [14]:
%%sql
--== Carrega a tabela Premios
COPY Temporaria FROM 'path-do-repo/Covid19/Nobel/prize.json';
INSERT INTO Premios
    SELECT (jsonb_array_elements ((RegExp_Replace(Linha, '""', '"', 'g')::Jsonb)->'prizes')) FROM Temporaria;
DELETE FROM Temporaria;

--== Carrega a tabela Premiados
COPY Temporaria FROM 'path-do-repo/Covid19/Nobel/laureate.json';
INSERT INTO Premiados
    SELECT (jsonb_array_elements ((RegExp_Replace(Linha, '""', '"', 'g')::Jsonb)->'laureates')) FROM Temporaria;
DELETE FROM Temporaria;

--== Carrega a tabela Paises
COPY Temporaria FROM 'path-do-repo/Covid19/Nobel/country.json';
INSERT INTO Paises
    SELECT (jsonb_array_elements ((Linha::Jsonb)->'countries')) FROM Temporaria;
DELETE FROM Temporaria;

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
1 rows affected.
658 rows affected.
1 rows affected.
1 rows affected.
968 rows affected.
1 rows affected.
1 rows affected.
136 rows affected.
1 rows affected.

[]

Vamos verificar quantas tuplas tem cada tabela:

In [15]:
%%sql
SELECT 'Premios', Count(*) FROM Premios
  UNION
SELECT 'Premiados', Count(*) FROM Premiados
  UNION
SELECT 'Paises', Count(*) FROM Paises;

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
3 rows affected.

[('Paises', 136), ('Premios', 658), ('Premiados', 968)]

Vamos ver o conteúdo de cada tabela.\
Como é a tabela `Premios`?

In [16]:
%%sql
SELECT * FROM Premios LIMIT 5;

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[({'year': '2021', 'category': 'chemistry', 'laureates': [{'id': '1002', 'share': '2', 'surname': 'List', 'firstname': 'Benjamin', 'motivation': 'for th ... (40 characters truncated) ... sis'}, {'id': '1003', 'share': '2', 'surname': 'MacMillan', 'firstname': 'David', 'motivation': 'for the development of asymmetric organocatalysis'}]},),
 ({'year': '2021', 'category': 'economics', 'laureates': [{'id': '1007', 'share': '2', 'surname': 'Card', 'firstname': 'David', 'motivation': 'for his e ... (236 characters truncated) ... re': '4', 'surname': 'Imbens', 'firstname': 'Guido', 'motivation': 'for their methodological contributions to the analysis of causal relationships'}]},),
 ({'year': '2021', 'category': 'literature', 'laureates': [{'id': '1004', 'share': '1', 'surname': 'Gurnah', 'firstname': 'Abdulrazak', 'motivation': 'f ... (7 characters truncated) ... uncompromising and compassionate penetration of the effects of colonialism and the fate of the refugee in the gulf between cultures and continents'}]},),
 ({'year': '2021', 'category': 'peace', 'laureates': [{'id': '1005', 'share': '2', 'surname': 'Ressa', 'firstname': 'Maria', 'motivation': 'for their ef ... (153 characters truncated) ... firstname': 'Dmitry', 'motivation': 'for their efforts to safeguard freedom of expression, which is a precondition for democracy and lasting peace'}]},),
 ({'year': '2021', 'category': 'physics', 'laureates': [{'id': '999', 'share': '4', 'surname': 'Manabe', 'firstname': 'Syukuro', 'motivation': 'for the  ... (481 characters truncated) ...  systems from atomic to planetary scales'}], 'overallMotivation': 'for groundbreaking contributions to our understanding of complex physical systems'},)]

Essa tabela tem diversos atributos, cada um indicado por um par `<chave, valor>`.\
Essa tabela é relativamente sofisticada, e ainda temos que aprender a acessar objetos Json...

<br>

E como é a tabela `Paises`?

In [17]:
%%sql
SELECT * FROM Paises LIMIT 5;

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[({'code': 'DZ', 'name': 'Algeria'},),
 ({'code': 'AR', 'name': 'Argentina'},),
 ({'code': 'AU', 'name': 'Australia'},),
 ({'code': 'AT', 'name': 'Austria'},),
 ({'name': 'Austria-Hungary'},)]

Essa tabela é mais simples para interpretar.\
Podemos ver facilmente que cada objeto Json - cada `Pais` - tem apenas dois atributos: o seu `Nome` e um `código`/
Podemos usar uma sintaxe de acesso Json para 'ver' esses dados como uma tabela tradicional:

In [18]:
%%sql
SELECT pais->'code' Codigo, pais->'name' Nome
    FROM Paises
    LIMIT 5;

 * postgresql://postgres:***@localhost/nobel
   postgresql://postgres:***@localhost/postgres
5 rows affected.

[('DZ', 'Algeria'),
 ('AR', 'Argentina'),
 ('AU', 'Australia'),
 ('AT', 'Austria'),
 (None, 'Austria-Hungary')]

<br><br>
<font size="5" face="verdana" color="green">
    <b>Carga inicial das tabelas da Base de Dados: <u>Prêmios Nobel</u></b>
    </font><br>

<font size="10" face="verdana" color="red">
    <img src="Figuras/ICMC_50Anos.png" width=220>&nbsp;
    <! <img src="Figuras/ICMC_Logo.jpg" width=70>&emsp;
    <b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="Figuras/Gbdi2005.jpg" width=400>
    </font>