## Exerc√≠cio 3

### Conectando com a base

In [1]:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
from sqlalchemy import create_engine

%load_ext sql
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost/FapCov2103')
%sql postgresql://postgres:postgres@localhost/FapCov2103

In [2]:
%%sql
SET Search_Path To D2; -- Usar dados dos hospitais com desfecho

 * postgresql://postgres:***@localhost/FapCov2103
Done.

[]

### Criando tabelas auxiliares

Tabela contendo apenas a lista dos meses

In [3]:
%%sql
DROP TABLE IF EXISTS Exercicio3_1;
SELECT *
INTO Exercicio3_1
FROM Generate_Series(DATE('2019-01-01'), DATE('2021-06-30'), INTERVAL '1 Month') AS Meses;
SELECT * FROM Exercicio3_1;

 * postgresql://postgres:***@localhost/FapCov2103
Done.
30 rows affected.
30 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=79200))),),
 (datetime.datetime(2019, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=79200))),),
 (datetime.datetime(2019, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2019, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2020, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),),
 (datetime.datetime(2021, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))),)]

Tabela com coluna de valores zeros.

In [4]:
%%sql
DROP TABLE IF EXISTS Exercicio3_2;
SELECT * INTO Exercicio3_2
FROM Exercicio3_1;
ALTER TABLE Exercicio3_2 
ADD DesfechosMes INT DEFAULT 0;
SELECT * FROM Exercicio3_2;

 * postgresql://postgres:***@localhost/FapCov2103
Done.
30 rows affected.
Done.
30 rows affected.

[(datetime.datetime(2019, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=79200))), 0),
 (datetime.datetime(2019, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=79200))), 0),
 (datetime.datetime(2019, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2019, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2020, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0),
 (datetime.datetime(2021, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=75600))), 0)]

Cria-se tamb√©m a fun√ß√£o auxiliar is_date, para desconsiderar valores inv√°lidos de DT_Desfecho

In [5]:
%%sql
CREATE OR REPLACE FUNCTION Is_Date(s varchar) RETURNS BOOLEAN AS $$
BEGIN
    IF s IS NULL THEN
        RETURN FALSE;
    END IF;
    PERFORM s::DATE;
    RETURN TRUE;
EXCEPTION WHEN OTHERS THEN
    RETURN FALSE;
END;
$$ language plpgsql;

 * postgresql://postgres:***@localhost/FapCov2103
Done.

[]

### Solu√ß√£o

In [6]:
%%sql
DROP TABLE IF EXISTS Exercicio3_Solucao;
SELECT DISTINCT
        T1.CD_Municipio, 
        ARRAY_AGG(COALESCE(T2.DesfechosMes, T1.DesfechosMes))
            OVER (PARTITION BY T1.CD_Municipio ORDER BY T1.Meses RANGE BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING)
    INTO Exercicio3_Solucao
    FROM
        (SELECT CD_Municipio, Meses, DesfechosMes
            FROM 
            (SELECT CD_Municipio 
                FROM Desfechos D JOIN Pacientes P ON D.ID_Paciente = P.ID_Paciente
            GROUP BY CD_Municipio) DP 
            CROSS JOIN Exercicio3_2 EX2) T1 -- Tabela com valores nulos
        FULL OUTER JOIN
        (SELECT CD_Municipio, Meses, Count(*) DesfechosMes
            FROM (Desfechos D JOIN Pacientes P ON D.ID_Paciente = P.ID_Paciente) DP 
                JOIN Exercicio3_1 EX ON Is_Date(DP.DT_Desfecho) 
                    AND Date_Part('Month', TO_DATE(DP.DT_Desfecho, 'DD/MM/YYYY')) = Date_Part('Month', EX.Meses)
                    AND Date_Part('Year', TO_DATE(DP.DT_Desfecho, 'DD/MM/YYYY')) = Date_Part('Year', EX.Meses)
            GROUP BY CD_Municipio, Meses) T2 -- Tabela com valores reais
        ON T1.CD_Municipio = T2.CD_Municipio AND T1.Meses = T2.Meses;

-- mostrar resultado
SELECT * FROM Exercicio3_Solucao
ORDER BY CD_Municipio
LIMIT 40;

 * postgresql://postgres:***@localhost/FapCov2103
Done.
18 rows affected.
18 rows affected.

[('BARUERI', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 2, 10, 17, 20, 11, 21, 20, 13, 17, 25, 0, 0, 0, 0, 0]),
 ('BELEM', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 3, 0, 2, 0, 1, 0, 0, 0]),
 ('BRASILIA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 313, 225, 375, 537, 682, 638, 489, 407, 480, 558, 437, 417, 721, 379, 393, 110]),
 ('CAMPOS DO JORDAO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 8, 4, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0]),
 ('CARAPICUIBA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 6, 14, 7, 6, 8, 6, 5, 0, 0, 0, 0, 0]),
 ('COTIA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 7, 7, 16, 17, 18, 4, 12, 17, 13, 24, 0, 0, 0, 0, 0]),
 ('DIADEMA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 29, 20, 12, 19, 20, 25, 22, 24, 25, 24, 30, 12, 9, 5, 3, 0]),
 ('GUARULHOS', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 322, 317, 389, 570, 700, 730, 653, 575, 597, 650, 518, 83, 141, 118, 126, 61]),
 ('MANAUS', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 6, 0, 4, 8, 6, 3, 1, 1, 3, 0, 0, 0, 0, 0]),
 ('MMMM', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 106, 3672, 2538, 3480, 5424, 6775, 6489, 6666, 6759, 7065, 6925, 6624, 1430, 1814, 1394, 1920, 654]),
 ('MOGI DAS CRUZES', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 26, 18, 22, 37, 42, 27, 51, 36, 72, 75, 44, 3, 1, 0, 0, 1]),
 ('OSASCO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 118, 64, 108, 197, 300, 319, 259, 215, 292, 275, 240, 5, 37, 15, 22, 9]),
 ('SANTANA DE PARNAIBA', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 5, 0, 0, 9, 3, 2, 0, 0, 0, 0, 0]),
 ('SANTO ANDRE', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 19, 26, 29, 29, 36, 20, 32, 36, 30, 43, 22, 0, 0, 0, 0, 0]),
 ('SANTOS', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 24, 29, 24, 21, 9, 14, 16, 25, 24, 20, 31, 0, 0, 0, 0, 0]),
 ('SAO BERNARDO DO CAMPO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 33, 24, 43, 44, 61, 61, 67, 78, 72, 65, 71, 2, 4, 0, 9, 8]),
 ('SAO PAULO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 313, 12757, 7555, 10707, 15781, 20165, 21033, 21812, 22050, 24015, 22622, 20348, 3963, 4996, 3809, 4574, 1873]),
 ('SUZANO', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 14, 3, 14, 27, 7, 16, 8, 9, 13, 16, 0, 0, 0, 0, 0])]